// Color picker label (primary, primary_text, background, text) styles:
.color_picker_label {
    position: relative;
    margin-left: 6%;
    width: 70%;
    float: left;
    margin-top: 7px;
}

// Color picker box styles:
.color_picker {
    position: relative;
    margin-right: 6%;
    padding-bottom: 5px;
    width: 15%;
    float: right;
    border-bottom: 1px solid gray;
}

// Apply Theme button for selected colors:
.apply_theme_btn {
    margin: 3% 6%;
}