.personal_info {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
}

//User input styles
.user_input ion-item {
    --background: transparent;
}

.sigup_btn,
.snd_verificaton_code {
    --border-radius: 25px;
}

// Media Querry
@media only screen and (min-height: 400px) {
    .facebook_btn {
        margin-top: 5%;
    }
    .line {
        margin: 5% 0%;
    }
    .next_btn {
        margin-top: 5%;
    }
}

@media only screen and (min-height: 700px) {
    .line {
        margin: 8% 0%;
    }
    .next_btn {
        margin-top: 8%;
    }
}