<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Register as Shop
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
    <ion-grid class="user_input">
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-icon name="person" slot="start"></ion-icon>
                    <ion-input placeholder="Shoped Based in*"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-icon ios="ios-call" slot="start" md=" md-call "></ion-icon>
                    <ion-input placeholder="Shoped Based in* "></ion-input>
                    <ion-icon ios="ios-medical" color="danger" style="font-size: 12px;" md="md-medical"></ion-icon>
                </ion-item>
            </ion-col>
        </ion-row>
        <!--  -->
        <!-- Send verification code -->
        <ion-row>
            <ion-col>
                <ion-button expand="block " (click)="onSendCodeClick() " class="snd_verificaton_code ">
                    Send Verification Code
                </ion-button>
            </ion-col>
        </ion-row>
        <div *ngIf="code_sended ">
            <!--  -->
            <!-- Sms Code -->
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-icon name="person " slot="start "></ion-icon>
                        <ion-input placeholder="Enter 6 digit code* "></ion-input>
                        <ion-button class="resend_btn " slot="end ">Resend</ion-button>
                    </ion-item>
                </ion-col>
            </ion-row>
            <!--  -->
            <!-- Password Fields -->
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-icon name="lock " slot="start "></ion-icon>
                        <ion-input type="password" placeholder="Password"></ion-input>
                        <ion-icon class="eye " name="eye " slot="end "></ion-icon>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="lock " slot="start "></ion-icon>
                        <ion-input type="password" placeholder="Confirm Password"></ion-input>
                        <ion-icon class="eye " name="eye " slot="end "></ion-icon>
                    </ion-item>
                </ion-col>
            </ion-row>
            <!--  -->
            <!-- Personal info -->
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-icon name="person " slot="start "></ion-icon>
                        <ion-input placeholder="Full Name "></ion-input>
                    </ion-item>
                    <!--  -->
                    <!-- Email -->
                    <ion-item>
                        <ion-icon name="person " slot="start "></ion-icon>
                        <ion-input placeholder="Email Address "></ion-input>
                    </ion-item>
                    <!--  -->
                    <!-- Shop Info -->
                    <ion-item>
                        <ion-icon name="person " slot="start "></ion-icon>
                        <ion-input placeholder="Shop Name/Number "></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="person " slot="start "></ion-icon>
                        <ion-input placeholder="Shop Address "></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="person " slot="start "></ion-icon>
                        <ion-input placeholder="City Name "></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button (click)="onSignupBtnClick() " class="sigup_btn " expand="block ">
                        Sign Up
                    </ion-button>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
</ion-content>