<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'cancel'" (click)="dismiss()" defaultHref="vender-dashbord"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addNewProductForm">
    <ion-grid>
      <ion-row color="justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h4 *ngIf="!product" style="text-align: center;">Add New Product</h4>
            <h3 *ngIf="product">Edit Product</h3>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-input formControlName="name" type="text" placeholder="Name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="size" type="text" placeholder="Product size"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="quantity" type="text" placeholder="Product quantity"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Product Category</ion-label>
              <ion-select formControlName="category" placeholder="Select One">
                <ion-select-option value="women_fashion">Women Fashion</ion-select-option>
                <ion-select-option value="men_fashion">Man Fashion</ion-select-option>
                <ion-select-option value="cloths">Cloths</ion-select-option>
                <ion-select-option value="watches">Watches</ion-select-option>
                <ion-select-option value="shoes">Shoes</ion-select-option>
                <ion-select-option value="shirts">Shirts</ion-select-option>
                <ion-select-option value="pants">Pants</ion-select-option>
              </ion-select>
            </ion-item>
            <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed"> -->
              <ion-item (click)="openCamera()">
                <ion-label slot="start">Upload Image</ion-label>
                <ion-icon slot="end" name="camera"></ion-icon>
              </ion-item>
            <!-- </ion-fab> -->
          </div>
          <div class="ion-padding">
            <ion-button [disabled]="addNewProductForm.invalid" (click)="save()" type="submit" expand="block">SAVE 
              &nbsp;
              <ion-spinner *ngIf="loading"></ion-spinner>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-label>
          {{ errMsg }}
        </ion-label>
      </ion-row> -->
    </ion-grid>
  </form>
</ion-content>