<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Register As Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm">
    <ion-grid>
      <ion-row color="justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h4 style="text-align: center;">Welcome to My Souq</h4>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-input name="name" formControlName="name" type="text" placeholder="Name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" formControlName="email" type="email" placeholder="your@email.com"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" formControlName="password" type="password" placeholder="Password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" formControlName="confirm_password" type="password" placeholder="Password">
              </ion-input>
            </ion-item>
            <ion-item-divider>
              <ion-label>
                Shop Information
              </ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-input name="shopName" formControlName="shop_name" type="text" placeholder="Shop Name">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="address" formControlName="address" type="text" placeholder="Shop address">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="city" formControlName="city" type="text" placeholder="City name">
              </ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button [disabled]="registerForm.invalid" (click)="save()" type="submit" expand="block">
              Register
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="login"  routerLink="/login" routerDirection="root">
            Have an account! Login
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>