<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button style="--color: white;"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Inventory
        </ion-title>
        <ion-icon class="cart" name="cart" slot="end" (click)="onCartClick()"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-toolbar color="primary">
        <ion-label>Shoes </ion-label>
        <ion-label>Shirts</ion-label>
        <ion-label>Pants</ion-label>
        <ion-label>Pants</ion-label>
    </ion-toolbar>

    <div *ngIf="!loading">
        <ion-card style="display: flex;" (click)="getDetails(product)" routerDirection="'root'"
            routerLink="/product-details" *ngFor="let product of products">

            <!-- <ion-thumbnail slot="start"> -->
            <img class="images" *ngIf="product.category == 'women_fashion'"
                src="../../../assets//icons//womenfashion.jpg" alt="" />
            <img class="images" *ngIf="product.category == 'men_fashion'" src="../../../assets/icons/menfashion.jpg"
                alt="" />
            <img class="images" *ngIf="product.category == 'shoes'" src="../../../assets/icons/shoes.jpg" alt="" />
            <img class="images" *ngIf="product.category == 'watches'" src="../../../assets/icons/watch.jpg" alt="" />
            <img class="images" *ngIf="product.category == 'shirts'" src="../../../assets/icons/shirt.jpg" alt="" />
            <img class="images" *ngIf="product.category == 'pants'" src="../../../assets/icons/pant.jpg" alt="" />
            <!-- </ion-thumbnail> -->
            <ion-item>
                <ion-title style="color: black;">{{product.name}}</ion-title>
                <ion-card-header>{{product.category}}</ion-card-header>
            </ion-item>
        </ion-card>
    </div>

    <div>
        <ion-list>
            <ion-item *ngFor="let item of skeletonlist">
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

</ion-content>