<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button style="--color: white;"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/icons/home.png" alt="" />
        <ion-card-header>
            <ion-card-subtitle>Get Start you shopping at your home</ion-card-subtitle>
            <ion-card-title>Welcome to My Souq</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
        </ion-card-content>
    </ion-card>
    <ion-list lines="none">
        <ion-list-header>
            <ion-label>Resources</ion-label>
        </ion-list-header>
        <ion-item href="">
            <ion-icon slot="start" color="medium" name="book"></ion-icon>
            <ion-label>Categories</ion-label>
        </ion-item>
        <ion-item href="">
            <ion-icon slot="start" color="medium" name="build"></ion-icon>
            <ion-label>Clothes</ion-label>
        </ion-item>
        <ion-item href="">
            <ion-icon slot="start" color="medium" name="grid"></ion-icon>
            <ion-label>Inventry</ion-label>
        </ion-item>
        <ion-item href="">
            <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
            <ion-label>Super Offers</ion-label>
        </ion-item>
    </ion-list>
</ion-content>