.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 30%;
    padding: 0em;
    margin: 0em;
}

// Gmail and Facebook Buttons styles
.gmail_btn {
    --border-radius: 25px;
    --background: #D44638;
}

.facebook_btn {
    --border-radius: 25px;
    --background: #3b5998;
}

.gmail_btn ion-label,
.facebook_btn ion-label,
.signin_btn ion-label {
    margin-left: 10px;
}

// Draw line:   "------ OR -------"
.line {
    display: flex;
    justify-content: center;
    font-size: smaller;
}

//User input styles
.user_input {
    padding: 10px 0px;
}

.user_input ion-item {
    --background: transparent;
}

.eye {
    display: flex;
}

//Sign In Button styles
.signin_btn {
    --border-radius: 25px;
}

// Forgot pasword
.forgot_password {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-size: small;
}

// Media Querry
@media only screen and (min-height: 500px) {
    .logo {
        margin: 0% 0%;
    }
    .line {
        margin: 0% 0%;
    }
    .signin_btn {
        margin-top: 1%;
    }
}

@media only screen and (min-height: 600px) {
    .logo {
        margin: 2% 0%;
    }
    .line {
        margin: 3% 0%;
    }
    .signin_btn {
        margin-top: 4%;
    }
}

@media only screen and (min-height: 700px) {
    .logo {
        margin: 5% 0%;
    }
    .line {
        margin: 5% 0%;
    }
    .signin_btn {
        margin-top: 5%;
    }
}