<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Vendor Dashboard</ion-title>
    <ion-button slot="end" (click)="openAddModal()" color="success">
      Add New </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!loading">
    <ion-card style="display: flex;" *ngFor="let product of products">

      <ion-thumbnail slot="start">
        <img *ngIf="product.category == 'women_fashion'" src="../../../assets//icons//womenfashion.jpg" alt="" />
        <img *ngIf="product.category == 'men_fashion'" src="../../../assets//icons//menfashion.jpg" alt="" />
        <img *ngIf="product.category == 'shoes'" src="../../../assets//icons//shoes.jpg" alt="" />
        <img *ngIf="product.category == 'watches'" src="../../../assets//icons//watch.jpg" alt="" />
        <img *ngIf="product.category == 'shirts'" src="../../../assets//icons//shirt.jpg" alt="" />
        <img *ngIf="product.category == 'pants'" src="../../../assets//icons//pant.jpg" alt="" />
      </ion-thumbnail>
      <ion-item>
        <ion-title style="color: black;" (click)="getDetails(product)" routerDirection="'root'"
          routerLink="/product-details">{{product.name}}</ion-title>
        <ion-card-header (click)="getDetails(product)" routerDirection="'root'" routerLink="/product-details">
          {{product.category}}</ion-card-header>
      </ion-item>
      <ion-item slot="start">
        <ion-button (click)="openEditPopup(product)" fill="clear">
          <ion-icon name="create" slot="end"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="delete(product)">
          <ion-icon name="trash" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
  </div>


  <div>
    <ion-list>
      <ion-item *ngFor="let item of skeletonlist">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>